{% extends "layout.html" %}

{% block title %}Quote{% endblock %}

{% block main %}
    <style>
        .center {
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    <table class="center">
        <tr>
            <th> Symbol </th>
            <th style="padding-left: 20px"> Company </th>
            <th style="padding-left: 20px"> Price </th>
        </tr>
        <tr>
            <td style="text-transform: uppercase"> {{symbol}} </td>
            <td style="padding-left: 20px"> {{company}} </td>
            <td style="padding-left: 20px"> ${{price}} </td>
        </tr>
    </table>
    <p>
        <a href="/buy"> Buy </a>
        <a style="padding-left: 5px" href="/sell"> Sell </a>
    </p>
    <form action="/quote" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Look Up Another Stock" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Look Up</button>
    </form>
{% endblock %}